.image-accueil {
	background-image: asset_url('petit_poney_home.jpg');
	background-color:rgb(0, 120, 255);
}

.image-accueil-flou {
	background-image: asset_url('petit_poney_inscription.jpg');
	background-color:rgb(0, 120, 255);
}

.banner {
    color: white;
    text-align: center;
    height: 92vh;
    background-size: cover !important;
  	background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
	display: flex;
	justify-content:space-around;
	height: 300px;
	align-items: center;
	text-align: center;
}
.img-info {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%) brightness(0.7) contrast(150%);
	transition-property: -webkit-filter;
	transition-property: filter;
	transition-property: filter, -webkit-filter;
	transition-duration: 0.7s;
	transition-timing-function: ease-out;
}
.img-info:hover {
 -webkit-filter:grayscale(0%);
 filter:grayscale(0%) brightness(1)
}
.carte-info {

}