// Import page-specific CSS files here.
@import "home";
@import "banner";
@import "chooseUser";
.link {
	color: white;
}
.link:hover {
	color: rgb(150,150,150);
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: asset_url('petit_poney_home.jpg');
  background-size: cover;
  position: relative;
}