<div class="container">
	<div class="row">
		<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/cavalier.jpg)">
		   <%= link_to "cavalier", new_user_session_path, class: "nav-link link" %>
		</div>
	</div>
	<div class="row">
		<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/moniteur.jpg)">
		   <%= link_to "Moniteur", new_moniteur_session_path, class: "nav-link link" %>
		</div>
	</div>
</div>


