<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

</head>

<body>

  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">

        <h1><a href="/">PETIT PONEY</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">

        <% if user_signed_in? %> <!--CONNECTE-->
          <% if current_user.admin == true %> <!--ADMINISTRATEUR -->
            <li class="menu-active"><a href="/">Accueil</a></li>
          	<li><a href="/#portfolio">Portfolio</a></li>
          	<li><a href="/cours">Planning</a></li>
          	<li><a href="/#contact">Contact</a></li>
          	<li><a style="color: orange;" href="/admin" type="button">Admin</a></li>
			<li><%= button_to "Déconnexion",destroy_user_session_path,method: :delete,class: "btn btn-outline-danger"%></li>

    	  <% else %> <!--USER OU MONITEUR -->
    	    <li class="menu-active"><a href="/">Accueil</a></li>
          	<li><a href="/">Portfolio</a></li>
          	<li><a href="cours">Planning</a></li>
          	<li><a href="#contact">Contact</a></li>
			<li><%= button_to "Déconnexion",destroy_user_session_path,method: :delete,class: "btn btn-outline-danger"%></li>
		  <% end %>
		<% else %> <!--PAS CONNECTE-->
		  	<li class="menu-active"><a href="/">Accueil</a></li>
          	<li><a href="/">Portfolio</a></li>
          	<li><a href="cours">Planning</a></li>
          	<li><a href="#contact">Contact</a></li>
          	<li><%= button_to "Connexion",new_user_session_path,method: :get,class: "btn btn-outline-success"%></li>
        <% end %>
          	
        </ul>
      </nav>
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Bienvenue au centre équestre PETIT PONEY</h1>
      <h2>Le centre équestre propose des cours d'équitation pour enfants et adultes, du débutant au confirmé, des stages et des participations aux championnats équestres.</h2>
      <a href="users/sign_up" class="btn-get-started">Découvrir</a>
    </div>
  </section>


    <section id="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Portfolio</h3>
          <p class="section-description">Venez partager de la bonne humeur =)</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic1"></div>
              <h5>Le centre</h5>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic2"></div>
              <h5>Séance</h5>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic3"></div>
              <h5>Equipements</h5>
            </div>
          </div>

        </div>

      </div>
    </section>

  <main id="main"> 

    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Rue de la ferme de Beaudreville<br>Gif-sur-Yvette, 91190</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>contactpetitponey@gmail.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+33 6 67 94 03 68</p>
              </div>
            </div>
        </div>
      </div>

      </div>
    </section>

  </main>

  <a href="/" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

</body>

</html>