<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<a href="index.html"><img src="assets/images/logo.png" alt=""></a>-->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/">PETIT PONEY</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">

          <% if current_user.admin == true %> <!--ADMINISTRATEUR -->
            <li class="menu-active"><a href="/">Accueil</a></li>
          	<li><a href="/">Portfolio</a></li>
          	<li><a href="cours">Planning</a></li>
          	<li><a href="#contact">Contact</a></li>
          	<li><button type="button" class="btn btn-outline-info">Admin</button></li>
          	<li><button type="button" class="btn btn-outline-success" name="connexion">Connexion</button></li>
			<li><%= button_to "Déconnexion",destroy_user_session_path,method: :delete,class: "btn btn-outline-danger"%></li>

    	  <% else %> <!--USER OR MONITEUR -->
    	    <li class="menu-active"><a href="/">Accueil</a></li>
          	<li><a href="/">Portfolio</a></li>
          	<li><a href="cours">Planning</a></li>
          	<li><a href="#contact">Contact</a></li>
          	<li><button type="button" class="btn btn-outline-success" name="connexion">Connexion</button></li>
			<li><%= button_to "Déconnexion",destroy_user_session_path,method: :delete,class: "btn btn-outline-danger"%></li>
		  <% end %>          	
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->
</body>

<div id="calendar" class="espace"></div>

