<div class="container">	
	<div class="col-sm-12">
		<%= simple_form_for([@cour, @reservation_cheval]) do |f| %>
		   <%= f.error_notification %>
		   <%= f.button :submit, class: "btn-primary" %>
		   <%= f.button :button, class: "btn-outline-secondary" %>
		<% end %>
	</div>	
</div> 
