
<div class="container">	
	<div class="col-sm-12">
		<% if @reservation.user_id = current_user %>
	 		<p>Vous etes deja inscrit</p>	
	 	<% else %>
			<%= link_to "s'inscrire", cour_reserv_create_path(@cour,@user), method: :post%>
			<% @reservations.each do |reserv| %>
				<% reserv.user_id %>
				<% reserv.cour_id %>
				<% reserv.user_id %>
			<% end %>
	 	<% end %>

	</div>	
</div> 
 